html * {
  font-size: .97em;
  color: black;
  font-family: Sora;
}

@font-face {
  font-family: Sora;
  src: url('../assets/Sora-VariableFont_wght.ttf');
}

@font-face {
  font-family: Playfair;
  src: url('../assets/PlayfairDisplay-VariableFont_wght.ttf');
}


.header{
  padding-left: .5rem;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;

  box-shadow: 5px 5px 30px #00000011;
}

.header-title{
  font-family: Playfair;
  text-align: center;
  font-weight: normal;
  font-size: 3em;
  padding-left: .2em;
}

.header-img{
  display: flexbox;
  height: 75%;
  width: auto;
}

.App {
  text-align: center;
}





